.filtered-parks-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 2rem;
}

.park-cards {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 1.5rem;
    padding: 1.5rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

@media screen and (max-width: 500px) {
    .park-cards {
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 1.5rem;
    padding: 1.5rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    }
}

@media screen and (min-width: 500px) and (max-width: 900px) {
    .park-cards {
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 1.5rem;
    padding: 1.5rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    }
}

