.passport-stamp-container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.stamp-cards {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 2rem;
    padding: 2rem;
    display: flex;
    flex-wrap: wrap;
}
