.passport-stamp-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.stamp-cards {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 2rem;
    padding: 2rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}


@media screen and (max-width: 500px) {
    .stamp-cards {
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 3rem;
    padding: 1.5rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    }
}

@media screen and (min-width: 900px) {
    .stamp-cards {
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 1.5rem;
    padding: 1.5rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    }
}