
.App {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  background-image: url("../../../public/forest-background.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  font-family: 'Roboto', cursive;
}

nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.logo {
  margin-top: 2rem;
  width: 50%;
}

.passport-link {
  margin-right: 1rem;
  width: 20%;
}
