.stamp {
    width: 2rem;
    height: 2rem;
}

.individual-park-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.individual-park {
    display: flex;
    flex-direction: column;
    justify-content: center; 
    align-items: center;   
    width: 90%;
}

.individual-park-image {
    width: 25rem;
    height: 20rem;
}

.park-info {
    text-align: left;
}

.add-visited {
    display: flex;
    flex-direction: row;
}

.approval-check-image {
    width: 5rem;
    height: 5rem;
}

